<nav>  
	{% for link in site.data.navigation %}
	{% assign status = "" %}
        {% assign color = "white" %}
        {% assign baselink=link.link | remove:'/' %}
		{% if link.link == page.url %}
                    {% assign status = status | append: " active" %}
		{% endif %}
                 
                {% if link.link == page.url %}
                   {% assign color = "yellow" %}
                {% else %}
                     {% if page.url  contains baselink and link.link!='/' %}
                        {% assign color = "yellow" %}
                     {% endif %%}
                {% endif %}                

                {% if link.name == 'MEASURE' or link.name == 'MANAGE'  %}
                     <a class="{{ status }}">{{ link.name }}</a>
                {% else %}
                    {% if link.name == 'RESOURCES' %}
       			 <button  class="navbtn scale"><a class="">&nbsp;</a></button>
                           <div class="dropdown">
                           <button class="dropbtn"><span style="color:{{ color }};">RESOURCES</span></button>
 				 <div class="dropdown-content">
    				 <a href="https://w3auth.nist.gov/itl/ai-risk-management-framework/ai-rmf-playbook-faqs" style="text-decoration:none;">FAQs</a>
    				 <a href="{% include relative-src.html src=link.link %}contact">Contact Us</a>
    				 <a href="{% include relative-src.html src=link.link %}about">About</a>
  		           </div>
                           </div>

                    {% else %}
                    	 <button class="navbtn scale">
		    	 <a href="{% include relative-src.html src=link.link %}" ><span style="color:{{ color }};">{{ link.name }}</span></a>
                         </button>
                    {% endif %}
                {% endif %}
	{% endfor %}
</nav>

