<nav>
	{% for link in site.data.navigation %}
	{% assign status = "" %}
		{% if link.link == page.url %}
                    {% assign status = status | append: " active" %}
		{% endif %}
                {% if link.name == 'MEASURE' or link.name == 'MANAGE'  %}
                     <a class="{{ status }}">{{ link.name }}</a>
                {% else %}
                    {% if link.name == 'ABOUT' %}
       			 <button  class="navbtn scale"><a class="">&nbsp;</a></button>
        		 <button  class="navbtn scale"><a href="{% include relative-src.html src=link.link %}">ABOUT</a></button>
                    {% else %}
                    	 <button class="navbtn scale">
		    	 <a href="{% include relative-src.html src=link.link %}" >{{ link.name }}</a>
                         </button>
                    {% endif %}
                {% endif %}
	{% endfor %}
</nav>

