.active-link{
        text-align: left !important;
        a:link {
         color: green;
         background-color: transparent;
         text-decoration: none;
        }
        a:visited {
         color: black;
         background-color: transparent;
         text-decoration: none;
        }
        a:hover {
         color: blue;
         background-color: transparent;
         text-decoration: underline;
        }
        a:active {
         color: yellow;
         background-color: transparent;
         text-decoration: underline;
        }
}
