/** Animate Transition property **/
.btn {
    display: inline-block;
    padding: 0;
    margin:0 .5rem;
    border: none;
    font-size: 18px;
    background-color: transparent;
    font-family: Open Sans;
    text-align: left;
 &.translate {
  transform: translate(0,0);
  transition: transform .5s;  
  position: relative;
  &:hover {
   transform: translate(-3px,-7px);
  }
 }
 &.scale {
  transform: scale(1);
  transition: transform .5s;
  position: relative;
  &:hover {
   transform: scale(1.05);
  }
 }
 &.opacity {
  opacity: 1;
  transition: opacity .5s;
  position: relative;
  &:hover {
   opacity: .25;
  }
 }
 &.rotate {  
  transform: rotate(0deg);
  transition: transform .5s;
  position: relative;
  &:hover {
   transform: rotate(10deg);
  }
 }
 &.skew {  
  transform:skew(0deg,0deg);
  transition: transform .5s;
  &:hover {
   transform:skew(5deg,5deg);
  }
 }
 &.matrix {
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition: transform .5s;
  transform-style: preserve-3d;
  &:hover {
   transform: matrix(1, 0.15, 0.5, 1.5, 25, 10);
  }
 }
 &.perspective {
  transition: transform .5s ease-out;
  transform-style: preserve-3d;
  &:hover {     
   transform: perspective(3em) rotateX(2deg) rotateY(-20deg) rotateZ(-40deg);
  }
 } 
}


/** navigation buttons on navigation bar **/
.navbtn {
    display: inline-block;
    padding: 0;
    margin:0 .5rem;
    border: none;
    font-size: 18px;
    text-decoration: none;
    background-color: transparent;
 &.translate {
  transform: translate(0,0);
  transition: transform .5s;
  position: relative;
  &:hover {
   transform: translate(-3px,-7px);
  }
 }
 &.scale {
  transform: scale(1);
  transition: transform .5s;
  position: relative;
  &:hover {
   transform: scale(1.25);
  }
 }
 &.disabled {
  opacity: 0.6;
  cursor: not-allowed;
 }
}

/** Buttons for accordion list **/
.linkbtn{
        padding: 0;
        margin:0 .5rem;
        border: none;
        font-size: 16px; 
        background-color: transparent; 
        text-align: left !important;
        a:link {
         color: black;
         background-color: transparent;
         text-decoration: none;
        }
        a:visited {
         color: black;
         background-color: transparent;
         text-decoration: none;
        }
        a:hover {
         color: blue;
         background-color: transparent;
         text-decoration: underline;
        }
        a:active {
         color: yellow;
         background-color: transparent;
         text-decoration: underline;
        }
}
~   
 
/** Dropdown Button **/
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

