.wrapper {
	max-width: 900px;
	margin: 0 auto;
	padding: 0 30px;
	position: center;
}

.content {
        background: #fff;
        padding: 60px 0;
}

dt, h2 {
        a.header-link {
                text-decoration: none;
                color: #ccc;
                opacity: 0;
                transition: opacity ease .2s,color ease .2s;
                vertical-align: bottom;
                margin: 0 0 0 5px;

                &:hover {
                        color: $link-color;
                }
        }

        &:hover a {
                opacity: 1;
        }
}

