summary:focus {
    color: #041a33;
  }
details:hover {
    color: $link-color;    
    cursor:auto;
    border: 2px;
    font: bolder;
}

* {
    box-sizing: border-box;
}

img {
   max-width: 100%;
}

.details-wrapper {
   width: 75vw;
   margin: 0 auto;
   background-color: #f0f0f0;
   box-shadow:0 0 1px 2px #f3f0f0;
}
details {
   padding: .5rem;   
}

summary {
   padding: .25rem 1rem;
   background-color: #F0F0F0;
   font: bold;
   border: none;
   border-radius: 3px;
  /* box-shadow: 0 -1px 1px 1px rgba(0,0,0,0.5);*/
   color:rgb(14, 13, 13);
   cursor: pointer;   
   /*list-style: none;*/ /* Triangle not shown */
}
/* Triangle not shown - Style for Webkit-Browser */
/*summary::-webkit-details-marker {
   display: none;
}*/
summary::before {
   padding-right: .25rem;
   /*content: '+ ';*/  /* Instead of Triangle closed */
}
details[open] summary::before {
   padding-right: .25rem;
   font-weight:bold;
   /*content: '- ';*/ /* Instead of Triangle open */
}

/* Styling the summary in case of open 'details' */
details[open] summary {
   font-style: bold;
   border-radius: 3px 3px 0 0;
}

.details-content {
   margin: 0;
   padding: .25rem 1rem;
   background-color: floralwhite;
   border-radius: 0 0 3px 3px;
   box-shadow: 0 1px 1px 1px rgba(0,0,0,0.5);
   color: steelblue;
}
.details-content p {
   font-weight:bold;
}
summary {    
    list-style: none; /* Triangle not shown */
 }
 /* Style für Webkit-Browser */
 summary::-webkit-details-marker {
    display: none; /* Triangle not shown */
    
 }
 summary::before {
    padding-right: .25rem;
    font-weight:bolder;    
    content: '+ '; float:right; /* Instead of Triangle closed */
 }
 details[open] summary::before {
    padding-right: .25rem;
    font-weight:bolder;
    content: '- '; float:right; /* Instead of Triangle open */
 }
