// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 750px)";
$desktop: "(min-width: 900px)";

// Colors

$dark-grey: #222;
$medium-grey: #666;
$light-grey: #ccc;
$header-color: #0c92f1;

$link-color: #4A4A4A;
$link-hover-color: #111;

$blue-000: #2c84fa !default;
$blue-300: #183385 !default;

$red-000: #f77e7e !default;
$red-300: #dd2e2e !default;

$green-000: #41d693 !default;
$green-300: #026e57 !default;

$yellow-000: #ffeb82 !default;
$yellow-300: #e7af06 !default;

$purple-000: #7253ed !default;
$purple-300: #381885 !default;

$grey-dk-000: #959396 !default;
$grey-dk-100: #5c5962 !default;
$grey-dk-200: #44434d !default;
$grey-dk-250: #302d36 !default;
$grey-dk-300: #27262b !default;


$grey-lt-000: #f5f6fa !default;
$grey-lt-100: #eeebee !default;
$grey-lt-200: #ecebed !default;
$grey-lt-300: #e6e1e8 !default;



$border-radius: 4px !default;

