---
---
<p style="font-family:'Arial'">
Governance processes are the backbone of risk management and focus on potential impacts of AI technologies. Govern function outcomes foster a culture of risk management within organizations designing, developing, deploying, or acquiring AI systems. 
</p>
<p>
Categories in this function interact with each other and with other functions but do not necessarily build on prior actions.
</p>


<div class="wrapper" align="justify">
{% assign categories=site.data.category %}
{% for category in categories %}
        {% if category.name contains 'GOVERN' %}
              {% assign category_name = category.name %}
              {% assign posts = site.categories[category_name] | sort: "order_number" %}
              <button class="accordion"><strong><div>{{ category.name }}: {{ category.title }}</div></strong></button>
          	<div class="panel">
                        {% for post in posts %}
             			<button class="linkbtn">
             			&#128279; <a target="_self" href="{{ site.baseurl }}{{ post.url }}" target="_blank">{{ post.title }}: {{ post.description }} </a>
             			</button>
                                <br>
                                <br>
                        {% endfor %}
                </div>
        {% endif %} 
{% endfor %}
</div>


