---
---
<p style="font-family:'Arial'">
The Map function establishes the context and frames risks related to an AI system. Information gathered in this function informs decisions about model management, including an initial decision about appropriateness or the need for an AI solution. 
</p>


<div class="wrapper">
{% assign categories=site.data.category %}
{% for category in categories %}
        {% if category.name contains 'MAP' %}
              {% assign category_name = category.name %}
              {% assign posts = site.categories[category_name] | sort: "order_number" %}
              <button class="accordion"><strong>{{ category.name }}: {{ category.title }}</strong></button>
          	<div class="panel">
                        {% for post in posts %}
             			<button class="linkbtn">
             			&#128279; <a target="_self" href="{{ site.baseurl }}{{ post.url }}" target="_blank">{{ post.title }}: {{ post.description }} </a>
             			</button>
                                <br>
                                <br>
                        {% endfor %}
                </div>
              <br>
        {% endif %} 
{% endfor %}
</div>


