---
layout: default
---

<section class="tutorial">
	<section class="tutorial-content">
                {% assign tname = page.type %}
                <a href="{{ site.baseurl }}/{{ tname | downcase }}" style="float:right">{{ tname | upcase }}</a>
                &nbsp&nbsp
	        <br>

                <h2 style="font-family: Arial;"> {{ page.title }} </h2>
              
                <h4 style="font-family: Arial;"> {{ page.description }} </h4>

                <br>
		<div class="tutorial-main">
   			   {{ content }}
                </div>
                <br/>
                <br/>
                <a href="{{ site.baseurl }}{{ page.url }}" class="back-to-top">Back to Top &uarr;</a>
                {% if page.next.url %}
                    {% if page.next.type==page.type %}
		        <a class="next" href="{{site.baseurl}}{{page.next.url}}" style="float:right">{{page.next.title}} &raquo;</a>
  		    {% endif %}
		{% endif %}

	</section>
</section>



